  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class=" center">join our newsletter</h5>
            <form action="#" method="GET">
              <input type="email" name="emailNL" id="emailNL">
              <button class="btn waves-effect blue lighten-3" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
          <div class="col l4 offset-l2 s12">
            <br>
            <ul>
              <li><a class=" text-lighten-3" href="#!">help</a></li>
              <li><a class=" text-lighten-3" href="#!">about</a></li>
              <li><a class=" text-lighten-3" href="#!">email us</a></li>
              <li><a class=" text-lighten-3" href="#!">terms</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright black-text">
        <div class="container center">
          © 2018 Copyright
        </div>
      </div>
    </footer>