  <ul id="styles" class="dropdown-content">
    <li><a href="#!">Browse All</a></li>
    <li class="divider"></li>
    <li><a href="#!">Browse Popular</a></li>
  </ul>
  <ul id="pieces" class="dropdown-content">
    <li><a href="#!">Shirts</a></li>
    <li class="divider"></li>
    <li><a href="#!">Pants</a></li>
    <li class="divider"></li>
    <li><a href="#!">Shoes</a></li>
    <li class="divider"></li>
    <li><a href="#!">Suits and Tuxedos</a></li>
    <li class="divider"></li>
    <li><a href="#!">Bags</a></li>
    <li class="divider"></li>
    <li><a href="#!">Accessories</a></li>
  </ul>
  <ul id="account" class="dropdown-content">
    <li><a href="post.html">Create Post</a></li>
    <li class="divider"></li>
    <li><a href="#!"> My Posts</a></li>
    <li class="divider"></li>
    <li><a href="#!">Log Out/Login</a></li>
  </ul>
  <!--Sidebar Dropdown-->
  <ul id="account2" class="dropdown-content">
    <li><a href="post.html">Create Post</a></li>
    <li class="divider"></li>
    <li><a href="#!"> My Posts</a></li>
    <li class="divider"></li>
    <li><a href="#!">Log Out/Login</a></li>
  </ul>
 <ul id="styles2" class="dropdown-content">
  <li><a href="#!">Browse All</a></li>
  <li class="divider"></li>
  <li><a href="#!">Browse Popular</a></li>
</ul>
<ul id="pieces2" class="dropdown-content">
  <li><a href="#!">Shirts</a></li>
  <li class="divider"></li>
  <li><a href="#!">Pants</a></li>
  <li class="divider"></li>
  <li><a href="#!">Shoes</a></li>
  <li class="divider"></li>
  <li><a href="#!">Suits and Tuxedos</a></li>
  <li class="divider"></li>
  <li><a href="#!">Bags</a></li>
  <li class="divider"></li>
  <li><a href="#!">Accessories</a></li>
</ul>
  <nav class="">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Marcus's Logo</a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <div class="center row">
            <div class="col s12 ">
              <div class="row" id="topbarsearch">
                <div class="input-field col s6 s12 black-text">
                  <i class="white-text material-icons prefix">search</i>
                  <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#home">Home</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="account">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="styles">Styles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="pieces">Pieces<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  <ul class="side-nav" id="slide-out">
    <li><a href="#">Home</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="account2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="styles2">Styles<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="pieces2">Pieces<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>