<!-- Body Container -->
<div class="container mainBody">
  <div class="row">
    <div class="col s12 cards-container">

      <div class="card">
        <div class="card-content">
          <span class="card-title"><h3>Create Account</h3></span>
          <form id="signUp" name="signUp" class="container" action="/signup" method="POST">
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="signUpUser" name="username" type="text" class="validate">
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" name="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="signUpPw" name="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col m6">
                  <button class="btn waves-effect waves-light" type="submit" >
                    Submit <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
          </form>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="../public/js/addUser.js" type="text/javascript"></script>