  {{!-- Body Container --}}
  <div class="container mainBody">
    <div class="row">
      <div class="col s12 cards-container">
        {{!-- <!-- Image CARD --> --}}
        <div class="card cardMain">
          <div class="card-image">
            <img id="productImg" src="/Img/style17.jpg">
          </div>
          <div class="card-content">
            <span class="card-title" id="productName">Card Title</span>
            <p id="productBody">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-praying-hands"></i></a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-burn"></i></a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-fire"></i></a>
          </div>
        </div>
        {{!-- <!-- Card --> --}}
        <div class="card">
          <div class="card-image">
            <img src="/Img/style21.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
        {{!-- <!-- Card --> --}}
        <div class="card">
          <div class="card-image">
            <img src="/Img/wldfgObey.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>