/* For Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Font For Logo */
.LogoFont,
nav .brand-logo {
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  font-size: 50px;
  /* font-family: 'Oleo Script', cursive; */
}

nav .brand-logo {
  padding-left: 15px;
}

.list-group-item {
  line-height: 2.5;
}

/* Carousel */
.carousel {
  height: 70vh !important;
}

.carousel.carousel-slider .carousel-fixed-item {
  bottom: 30vh !important;
}

.carousel-item {
  background-size: cover;
  background-position: top;
}

.c1 {
  background-image: url('../Img/style6.jpg');
}
.c2 {
  background-image: url('../Img/style13.jpg');
}
.c3 {
  background-image: url('../Img/style22.jpg');
}
.c4 {
  background-image: url('../Img/style32.jpg');
}
.c5 {
  background-image: url('../Img/style7.jpg');
}
.c6 {
  background-image: url('../Img/style30.jpg');
}

/* Logo Shadow */
.logoShadow {
  text-shadow: 6px 3px 8px rgba(68, 68, 68, 0.76);
}

/* Modal */
#modal1 {
  overflow-y: hidden;
}

.loginMain {
  color: #808080;
}

.modal {
  height: 410px;
  width: 400px;
}

/* Footer */
.page-footer {
  color: black !important;
  background-color: rgb(247, 246, 241);
}

/* dash css */
.mainBody {
  margin-top: 25px;
}

.cardMain {
  cursor: pointer;
}

/* Styling for the Browse by Category Page*/
.cards-category {
  -webkit-column-break-inside: avoid;
}
.cards-category .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width : 600px) {
  .cards-category {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width : 601px) {
  .cards-category {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width : 993px) {
  .cards-category {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}
#category-image{
  height: auto;
  width: auto;
}

.content p {
  font-size: 18.5px;
}



/* Styling for the Browse by Category Page*/

.post-title, .post-body {
  text-align: center;
}

.post-image {
  max-width: 100%;
}

/* Browse all styles page */

.card-action.price a:hover {
  color: #2b9b90 !important;
}

.card-action.price a {
  color: #2BBBAD !important;
}

/* source: https://www.kirstencassidy.com/css-fancy-quotes/ */ 
.small-quotation{
  font-size: 24px;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.small-quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.small-quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}

