/* For Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Font For Logo */
.LogoFont,
nav .brand-logo {
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  font-size: 50px;
  /* font-family: 'Oleo Script', cursive; */
}

nav .brand-logo {
  padding-left: 15px;
}

.list-group-item {
  line-height: 2.5;
}

/* Carousel */
.carousel {
  height: 70vh !important;
}

.carousel.carousel-slider .carousel-fixed-item {
  bottom: 30vh !important;
}

.carousel-item {
  background-size: cover;
  background-position: top;
}

/* Logo Shadow */
.ugh {
  text-shadow: 6px 3px 8px rgba(68, 68, 68, 0.76);
}

/* Modal */
#modal1 {
  overflow-y: hidden;
}

.loginMain {
  color: #808080;
}

.modal {
  height: 410px;
  width: 400px;
}

/* Footer */
.page-footer {
  color: black !important;
  background-color: rgb(247, 246, 241);
}

/* dash css */
.mainBody {
  margin-top: 25px;
}

.cardMain {
  cursor: pointer;
}


/* Styling for the Browse by Category Page*/
.cards-category {
  -webkit-column-break-inside: avoid;
}
.cards-category .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width : 600px) {
  .cards-category {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width : 601px) {
  .cards-category {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width : 993px) {
  .cards-category {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}
/* .hImage{
  width: 200px;
  height: 300px
} */
/* Styling for the Browse by Category Page*/